/* reset.css */

/* Reset geral para todos os elementos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove a decoração de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove as listas de estilo e margens/padding */
ol,
ul {
    list-style: none;
}

/* Remove formatação em elementos de formulário */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* Remover o comportamento padrão de bordas em imagens */
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Define o tamanho do fundo */
html {
    height: 100%;
}

/* Remove espaços em branco nos elementos block e garante altura mínima */
body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Reseta estilos de cabeçalhos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* Define o comportamento de tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove espaçamentos nos elementos de formulário */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Remove a aparência padrão de botões */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Remove as sombras e bordas padrão */
textarea {
    resize: none;
    border: none;
    padding: 0;
}

/* Evita o overflow no container do viewport */
body, html {
    overflow-x: hidden;
}
